*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
    box-sizing: border-box;
}

/*----------------------------RESPONSIVENESSSSSSSSS----------------*/
/* Default styles for all devices */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
  }
  
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      justify-content: center;
      height: auto;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      margin: 1rem 0;
    }
  }
  
  #menu:checked ~ nav ul {
    display: block;
  }
  
  @media (max-width: 576px) {
    nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 80px;
      background-color: #333;
    }
  
    .menu-toggle {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 0.5rem;
      margin-right: 1rem;
      color: #fff;
      font-size: 2rem;
      cursor: pointer;
    }
  
    .menu-toggle:hover {
      color: #ccc;
    }
  
    nav ul {
      display: none;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      padding: 1rem;
      background-color: #333;
    }
  
    nav ul li {
      margin: 1rem 0;
    }
  
    nav ul a {
      color: #fff;
      font-size: 1.2rem;
    }
  
    #menu:checked ~ ul {
      display: block;
    }
  }
  
body {
    font-size: 1rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    body {
      font-size: 0.875rem;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 576px) {
    body {
      font-size: 0.75rem;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
  }
  
  /* Styles for devices with a max width of 768px (tablets and smaller) */
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      justify-content: center;
      height: auto;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      margin: 1rem 0;
    }
  }
  
  /* Styles for devices with a max width of 576px (phones and smaller) */
  #menu:checked ~ nav ul {
    display: block;
  }
  
  @media (max-width: 576px) {
    nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 80px;
      background-color: #333;
    }
  
    .menu-toggle {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 0.5rem;
      margin-right: 1rem;
      color: #fff;
      font-size: 2rem;
      cursor: pointer;
    }
  
    .menu-toggle:hover {
      color: #ccc;
    }
  
    nav ul {
      display: none;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      padding: 1rem;
      background-color: #333;
    }
  
    nav ul li {
      margin: 1rem 0;
    }
  
    nav ul a {
      color: #fff;
      font-size: 1.2rem;
    }
  
    #menu:checked ~ ul {
      display: block;
    }
  }
  
/* Default styles for all devices */
body {
    font-size: 1rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Styles for devices with a max width of 768px (tablets and smaller) */
  @media (max-width: 768px) {
    body {
      font-size: 0.875rem;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  /* Styles for devices with a max width of 576px (phones and smaller) */
  @media (max-width: 576px) {
    body {
      font-size: 0.75rem;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  }

  /*---------------ENDDDD-------------RESPONSIVENESSSSSSSSS----------------*/
  
body{
    background: white;
    color: black;
}
#headerA{
    width: 100%;
    height: 100vh;
      background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url(images/Doc2.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    flex-wrap:wrap ;
}
.logo{
    width: 140px;

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0; 
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20px;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f   ;
}
/*-------------about--------------------------------*/
#about{
    padding: 80px 0;
    color: #abab;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis:60%;
}
.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: black;
}
.tab-titles{
    display: flex;
    margin: 20px 0;
}
.tab-links{
    margin-right: 50px;
    font-size: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #e0001e;
    font-size: 1;

}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/**************services*********************************/
#services{
padding: 30px  0;

}
.services-list{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 40px;
margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px ;
    transition: background 0.5s, transform 0.05s;
}
.services-list div h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*-----Portfolio------*/
.portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 40px;
margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;


}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform(0.5s);
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding:0 04px ;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s ease-in-out;
    
}
.layer h3{
    font-weight: 500;
    margin-bottom:20px ;
    color: black;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius:50% ;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);

}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto 0 auto;
    width: fit-content;
    border: 1px solid ;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: black !important;
    transition: background 0.5s ease-in-out;

}
.btn:hover{
    background: #ff004f;
}


/*------contact------*/
.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100px;
}
form input{
    width: 600%;
    border: 0;
    outline: none;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0;
    color:black;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px ;
    font-size: 19px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    color: white;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px; 
}

/*-------CSS FOR SMALL SCREEN------*/
@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/Doc3.jpeg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;

    }
    .header-text h1{
        font-size: 30px;
    }

}
/*-------button  to footer------*/
.scroll-to-footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  footer {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background-color: #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  li {
    margin-bottom: 10px;
  }

  /*accademic archievement */
  /* Style the heading */
h2 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Style the list */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style the list items */
  li {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
  }
  
  /* Add a bullet icon to each list item */
  
  












.stats-container {
    display: flex;
    flex-wrap: wrap; /* allow the items to wrap if the container is too small */
    justify-content: center; /* center the items horizontally */
    align-items: center; /* center the items vertically */
    padding: 20px;
  }
  
  .stats-item {
    display: flex;
    flex-direction: column; /* stack the number and label vertically */
    align-items: center; /* center the number and label horizontally */
    margin: 0 20px; /* add some spacing between the items */
  }
  
  .stats-number {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px; /* add some space between the number and label */
  }
  
  .stats-label {
    font-size: 16px;
    color: #999;
    text-transform: uppercase;
    text-align: center;
  }
  

  /*===========================About=====================================*/
  #header2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: -1;
  }
  
  #header2{
    width: 100%;
    height: 100vh;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/gate.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  
.header2-text{
    margin-top: 20px;
    font-size: 30px;

}
.header2-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header2-text h1 span{
    color: #cc0041   ;
}

.mailto{
    color: #fff;
text-decoration: none;
font-size: 18px;
position: relative;

}
